spring:
  application:
    name: aggregator
  config:
    import: "configserver:"
  cloud:
    config:
      fail-fast: true
      retry:
        max-attempts: 20
        initial-interval: 1000
      discovery:
        enabled: true
        serviceId: config-server