grpc:
  client:
    hub-router:
      address: 'static://localhost:59090'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext

analyzer:
  kafka:
    bootstrap-server: localhost:9092
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
      enable-auto-commit: false
    hub:
      group-id: hub-events-group
      value-deserializer: ru.practicum.eventDeserializer.HubEventDeserializer
    snapshot:
      group-id: snapshots-group
      value-deserializer: ru.practicum.eventDeserializer.SensorSnapshotEventDeserializer

spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format-sql: true
    show-sql: true
  sql:
    init:
      mode: always
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5439/analyzer
    username: analyzer
    password: analyzer

topics:
  sensors: telemetry.sensors.v1
  hubs: telemetry.hubs.v1
  snapshots: telemetry.snapshots.v1